$containerWidth:940px;
$baseFontSize:18px;
$blue:rgba(97, 196, 217, 1);
@import "./main-dist.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,700;1,100&display=swap");
@import "layout.scss";
@import "./hero.css";
@import "./header.css";
@import "./featchers.css";
@import "./feature.css";
@import "./title.css";
@import "./section.css";
@import "./headline.css";
@import "./benefits.css";
@import "./benefit.css";
@import "./reviews.css";
@import "./intaractive__avatar.css";
